<p style="color: green"><%= notice %></p>

<h1>Ideas</h1>

<div id="ideas">
  <table class = "table">    
    <tr>
      <th>id</th>
      <th>name</th>
      <th>comments</th>
      <th>created_at</th>
    </tr> 

    <% @ideas.each do |idea| %>
      <tr>
        <td>
          <%= idea.id %>
        </td>
        <td>
          <%= link_to idea.name, idea %>
        </td>
        <td>
          <%= idea.comments.length %>
        </td>
        <td>
          <%= idea.created_at %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New idea", new_idea_path %>
