<p style="color: green"><%= notice %></p>

<%= render @idea %>

<div class="pt-4">
  <%= link_to "Edit this idea", edit_idea_path(@idea) %> |
  <%= link_to "Back to ideas", ideas_path %>

  <div class="mt-4">
    <%= button_to "Destroy this idea", @idea, method: :delete, class: "btn btn-primary" %>
  </div>
</div>
